backup/*
restore/*
postgress-data
.odoo.config
#uncomment addons for dev enveronment
#Staging and Production enveronments requires addons not to be prebuilded on dev enveronment 
#Build/addons
Build/odoo-data
filestore/*
import/*
export/*
.backup
.odoo.config
.logfile
